In [10]:
import pandas as pd

from IPython.display import display #This will help displaying two 'returns' in one output cell

# This will ensure that floats in our data show up with 2 decimals and no other format
pd.options.display.float_format = '{:.2f}'.format

In [11]:
path = "C:/Users/u1082926/Desktop/PS/Research/kickstarter-data-analysis"

df_2018 = pd.read_csv(path + '/data/raw/ks-projects-201801.csv', index_col='ID')
# df_2016 = pd.read_csv('ks-projects-201612.csv', index_col='ID')

In [12]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378661 entries, 1000002330 to 999988282
Data columns (total 14 columns):
name                378657 non-null object
category            378661 non-null object
main_category       378661 non-null object
currency            378661 non-null object
deadline            378661 non-null object
goal                378661 non-null float64
launched            378661 non-null object
pledged             378661 non-null float64
state               378661 non-null object
backers             378661 non-null int64
country             378661 non-null object
usd pledged         374864 non-null float64
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
dtypes: float64(5), int64(1), object(8)
memory usage: 43.3+ MB

In [13]:
print("Number of elements:",len(df_2018.main_category.unique()))
for i in df_2018.main_category.unique():
    print (i)

Number of elements: 15
Publishing
Film & Video
Music
Food
Design
Crafts
Games
Comics
Fashion
Theater
Art
Photography
Technology
Dance
Journalism

In [14]:
df_2018.sample(2)

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
2033693258,The Iridium Factor,Animation,Film & Video,USD,2012-06-03,500000.00,2012-05-04 19:22:05,0.00,failed,0,US,0.00,0.00,500000.00
1825145538,James ryan cd pre-order (Canceled),Rock,Music,USD,2012-02-25,8000.00,2011-12-27 23:45:29,0.00,canceled,0,US,0.00,0.00,8000.00

In [15]:
df_2018['deadline'] = pd.to_datetime(df_2018['deadline'])
df_2018['launched'] = pd.to_datetime(df_2018['launched'])

In [16]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378661 entries, 1000002330 to 999988282
Data columns (total 14 columns):
name                378657 non-null object
category            378661 non-null object
main_category       378661 non-null object
currency            378661 non-null object
deadline            378661 non-null datetime64[ns]
goal                378661 non-null float64
launched            378661 non-null datetime64[ns]
pledged             378661 non-null float64
state               378661 non-null object
backers             378661 non-null int64
country             378661 non-null object
usd pledged         374864 non-null float64
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 43.3+ MB

In [17]:
df_2018.sample(2)

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
425232985,A Clockwork Melody,Fiction,Publishing,CAD,2017-03-15,1000.00,2017-02-13 08:41:18,145.00,failed,6,CA,0.00,108.90,751.03
1683383805,Zombie Origin Deck of Cards & Bonus Zombies Ar...,Tabletop Games,Games,USD,2013-04-03,1056.00,2013-03-04 22:45:10,1551.00,successful,66,US,1551.00,1551.00,1056.00